@model Labb1EntityFrameWork.Models.Vacation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vacation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacayType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacayType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VacationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
