
<h4>Select a time period</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminShowResults">
            <div class="form-group">
                <label for="VacationStart" class="control-label">Start date</label>
                <input type="date" name="SearchStart" class="form-control" />
            </div>
            <div class="form-group">
                <label for="VacationEnd" class="control-label">End date</label>
                <input type="date" name="SearchEnd" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary my-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

